header{
    background: url("../../../img/bg-main.jpg") center/cover; 
}
/* navbar */
header nav{
    display: grid;
    grid-template-columns: 10% 70% 20%;
    height: 12vh;
    width:90%;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    align-items: center;

}
header nav img{
    height:120px;
}

header nav ul{
    display: flex;
    justify-content: space-around;
}

header nav ul li{
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
    color: black;
    position: relative;
}

header nav ul li::before{
    content: "";
    align-content: start;
    position: absolute;
    width: 100%;
    height: 1.3px;
    bottom: 0px;
    left: 0px;
    background-color: black;
    opacity: 0;
}
@keyframes animNav {
    from{
        transform: scaleX(0);
        opacity: 0;
    }
    to{
        opacity: 1;
        transform: scaleX(100%);
    }
        
}
header nav ul li:hover::before{
    animation: animNav 0.6s forwards;  
}

header .connect-part{
    display: flex;
    margin-left: 110px;
    font-size: 1.1rem;
    font-weight: 600;
    font-family: 'JetBrains Mono', monospace;
}

header .connect-part a{
    margin-left: 20px;
    color: black;
}

header .header-content{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    text-align: center;
}


header .header-content div h1{
    font-family: 'Allura', cursive;
    font-size: 4.5rem;
    font-weight: 500;
    line-height: 60px;
}
header .header-content div h1 span{
    color: #33a333;
}

header .header-content div p{
    font-family: 'Poppins', sans-serif;
    margin: 20px 0 190px 0;
}
header .header-content div i{
    color: black;
    font-size: 3rem;
}