*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background-color: antiquewhite;
}
li{
    list-style: none;
}
a{
    text-decoration: none;
}

section{
    margin: 100px auto;
}